# User prefix — auto-detekta se iz $USER
#USER_PREFIX=

# Nexus credentiali
NEXUS_USER=
NEXUS_PASSWORD=

# Compose profiles
#COMPOSE_PROFILES=frontdev

# Build
#IMAGE_TAG=1.0.0
BUILD_ENV=snapshot

# Symfony
APP_ENV=dev
APP_SECRET=changeme
LOGGER_MIN_LEVEL=info

# Database (Oracle)
DATABASE_URL=//username:password@hostname:port/database?charset=AL32UTF8

# Frontend proxy
FRONTEND_DEV_PROXY='{"^/(api|assets)":"http://pbz-konfidat:8080"}'

# Portovi (Ansible ih postavlja automatski)
#POD_KONFIDAT_ENTRY_HOSTNAME=127.0.0.1:10945
#POD_KONFIDAT_FRONTDEV_HOSTNAME=127.0.0.1:10946
